<div class="window" id="tarif">
	<form action="#" method="post" class="window__form">
		<input type="text" name="name" class="window__input" placeholder="ФИО" >
		<input type="text" name="phone" class="window__input" placeholder="Номер телефона" >
		<input type="submit" name="submit" value="Заказать">
	</form>
</div>
<div class="window" id="tarifPro">
	<form action="#" method="post" class="window__form">
		авыпоыватпоыво пывао лвыаплд выопао ываповыадлп оыва
		<input type="text" name="name" class="window__input" placeholder="ФИО" >
		<input type="text" name="phone" class="window__input" placeholder="Номер телефона" >
		<input type="submit" name="submit" value="Заказать">
	</form>
</div>